<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div ng-if="loginFailed" class="alert alert-danger">
                <h3>{{loginFailed}}</h3>
            </div>
            <div ng-if="inscriptionFailed" class="alert alert-danger">
                <h3>{{inscriptionFailed}}</h3>
            </div>
            <div ng-if="inscriptionSuccess" class="alert alert-success">
                <h3>{{inscriptionSuccess}}</h3>
            </div>
            <div ng-if="sendResetPasswordFailed" class="alert alert-danger">
                <h3> {{sendResetPasswordFailed}}</h3>
            </div>
            <div ng-if="sendResetPasswordSuccess" class="alert alert-success">
                <h3>{{sendResetPasswordSuccess}}</h3>
            </div>
            <div ng-if="resetPasswordSuccess" class="alert alert-success">
                <h3> {{resetPasswordSuccess}}</h3>
            </div>
        </div>

    </div>
    <div class="container" ng-if="loginPage=='inscription'">
        <div class="row">
            <div class="col-sm-2  col-md-6 col-md-offset-2">

                <div class="account-wall">
                    <img ng-if="!currentUser.id&&!restPassword" class="profile-img"
                         src="images/avatar_2x.png"
                         alt="">

                    <form class="form-signin" name="loginForm" ng-submit="saveNewCustomerInServer(newUser)"
                          ng-if="!currentUser.id&&!restPassword">
                        <input type="email" class="form-control" placeholder="Email"
                               ng-model="newUser.email" name="username" required autofocus>

                        <input type="text" class="form-control" placeholder="User Name"
                               ng-model="newUser.username" name="username" required autofocus>


                        <input type="text" class="form-control" placeholder="First Name"
                               ng-model="newUser.firstName" name="firstName" required>

                        <input type="text" class="form-control" placeholder="Last Name"
                               ng-model="newUser.lastName" name="lastName" required>

                        <input type="password" class="form-control" placeholder="Password"
                               ng-model="newUser.password" name="password" required>
                        <input type="password" class="form-control" placeholder="Repeat password"
                               ng-model="newUser.password2" name="password" required>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign up
                        </button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>


                    </form>
                    <form class="form-signin" name="resetPasswordForm"
                          ng-submit="resetPasswordRequest(emailResetPassword)"
                          ng-if="!currentUser.id&&restPassword">
                        <input class="form-control" placeholder="Email"
                               ng-model="emailResetPassword" match-validator="email"
                               name="emailResetPassword" type="email" required autofocus>

                        <div class="help-block"
                             ng-show="resetPasswordForm.emailResetPassword.$invalid  ">
                            please enter a valid email .
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Rest Password
                        </button>


                        <label class="pull-right reset-password" ng-click="changeForm()"><a
                                href="">Login</a></label>
                    </form>
                </div>
                <a ng-if="!currentUser.id&&!restPassword" ng-click="goToLogin()" class="text-center new-account">Sign in </a>
            </div>
        </div>
    </div>
    <div class="container" ng-if="loginPage=='login'">
        <div class="row">
            <div class="col-sm-2  col-md-6 col-md-offset-2">

                <div class="account-wall">
                    <img ng-if="!currentUser.id&&!restPassword" class="profile-img"
                         src="images/avatar_2x.png"
                         alt="">

                    <form class="form-signin" name="loginForm" ng-submit="login(credentials)"
                          ng-if="!currentUser.id&&!restPassword">
                        <input type="text" class="form-control" placeholder="Email"
                               id="username" ng-model="credentials.username" name="username" required autofocus>
                        <input type="password" class="form-control" placeholder="Password"
                               id="password"
                               ng-model="credentials.password" name="password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in
                        </button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>

                        <label class="pull-right reset-password" ng-click="changeForm()"><a
                                href="">Reset Password</a></label>
                    </form>
                    <form class="form-signin" name="resetPasswordForm"
                          ng-submit="resetPasswordRequest(emailResetPassword)"
                          ng-if="!currentUser.id&&restPassword">
                        <input class="form-control" placeholder="Email"
                               ng-model="emailResetPassword" match-validator="email"
                               name="emailResetPassword" type="email" required autofocus>

                        <div class="help-block"
                             ng-show="resetPasswordForm.emailResetPassword.$invalid  ">
                            please enter a valid email .
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Rest Password
                        </button>


                        <label class="pull-right reset-password" ng-click="changeForm()"><a
                                href="">Login</a></label>
                    </form>
                </div>
                <a ng-if="!currentUser.id&&!restPassword" ng-click="goToInscription()" class="text-center new-account">Create an
                    account </a>
            </div>
        </div>
    </div>


</div>