<div class="row">
    <div class="col-lg-8">

    </div>
    <div class="col-lg-4">

    </div>
</div>
<div class="row">

    <div class="col-lg-8">
        <div ng-include="'frontend/checkout/checkout-first-step/_partial-templates/products-search.html'"></div>
    </div>
    <div class="col-lg-8">
        <div class="col-lg-4" ng-repeat="paymentMethod in _paymentMethod">
            <div class="small-box "
                 ng-class="{'bg-aqua': paymentMethod.id!=paymentMethodSelected.id, 'bg-yellow': paymentMethod.id==paymentMethodSelected.id,}">
                <div class="inner">
                    <h5>{{paymentMethod.configuration}}$</h5>

                    <p><h4>{{paymentMethod.name}}</h4></p>
                </div>
                <div class="icon">
                    <i class="fa fa-spotify fa-fw"></i>
                </div>
                <a ng-click="selectMethodSelected(paymentMethod)" class="small-box-footer">select <i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>

        </div>
    </div>

</div>
