<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Order Details </h3>

        <div class="box-tools pull-right">
            <button ng-click="clearSearchFields()" class="btn btn-box-tool"
                    data-widget="collapse"><i class="fa fa- fa-refresh"></i></button>
            <button ng-show="!searchFilterDisabled" ng-click="searchFilterDisabled=true" class="btn btn-box-tool"
                    data-widget="collapse"><i class="fa fa-minus"></i></button>

            <button ng-show="searchFilterDisabled" ng-click="searchFilterDisabled=false" class="btn btn-box-tool"
                    data-widget="remove"><i class="glyphicon glyphicon-new-window"></i></button>
        </div>
    </div>

    <div ng-if="!searchFilterDisabled" class="box-body" style="display: block;">
        <div class="row">
            <div class="col-md-12">
                <div class="dataTable_wrapper">

                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th> Description</th>
                            <th>Price</th>
                            <th class="col-sm-1"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="gradeC" ng-repeat="item in basket.listItems">
                            <td>{{item.name}}</td>
                            <td>{{item.description| cut:true:50}}</td>
                            <td><span class="pull-right">{{item.price}} $</span></td>
                            <td>


                                <a class="delete" title="" data-toggle="tooltip" href=""
                                   ng-click="removeItemFromBasket(item)" data-original-title="Delete">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                </a>


                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="pull-right">Total</span></td>
                            <td><span class="pull-right">{{basket.totalPrice  }} $</span></td>

                            <td></td>
                        </tr>
                        <tr ng-if="basket.shippingMethod.configuration && basket.shippingMethod.id">
                            <td></td>
                            <td><span class="pull-right">Shipping</span></td>
                            <td><span class="pull-right">{{basket.shippingMethod.configuration }} $</span></td>
                            <td></td>
                        </tr>
                        <tr ng-if="basket.shippingMethod.configuration && basket.shippingMethod.id">
                            <td></td>
                            <td><span class="pull-right">Total Include Shipping</span></td>
                            <td><span class="pull-right">{{basket.TotalIncludeShipping }} $</span></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>


            </div>
            <div class="col-md-12">
                <form role="form" ng-if="basket.paymentMethod.id">
                    <h4 class="box-title ng-binding"> Payment Method Selected : <span class="label label-default">{{basket.paymentMethod.name}}</span>
                    </h4>
                </form>
            </div>
            <div class="col-md-12">
                <form role="form" ng-if="basket.paymentMethod.id">
                    <h4 class="box-title ng-binding"> Shipping Method Selected : <span class="label label-default">{{basket.shippingMethod.name}}</span>
                    </h4>
                </form>
            </div>

        </div>
    </div>
    <div class="box-footer" style="display: block;">
        <p class="pull-right">


        </p>
    </div>
</div>